@model DataAccessLayer.EntityModels.Manager

@using (Html.BeginForm("Create", "Manager", FormMethod.Post))
{
    @Html.ValidationSummary(true)

    <br />

    @Html.LabelFor(manager => manager.Name, "Name")

    @Html.TextBoxFor(manager => manager.Name)

    <br />

    @Html.ValidationMessageFor(manager => manager.Name)

    <br />

    <button type="submit" class="btn">Add manager</button>

}

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
